<session class="container">
  <div class="content"></div>
  <div class="pagination">
    <button disabled id="previous"><i class="fa fa-chevron-left"></i></button>
    <button disabled id="next"><i class="fa fa-chevron-right"></i></button>
  </div>
</session>
