<session class="lateralmenu">
  <div class="menuItem" id="option">
    <h3>Option</h3>
  </div>
  <div class="menuItem" id="quantity">
    <h3>Quantity</h3>
    <input
      type="text"
      placeholder="Type here"
      id="quantityInput"
      pattern="[0-9]+$"
    />
    <p id="msgError">Please, enter a valid number for quantity!</p>
  </div>
</session>
