<session class="sideBar">
  <button class="dropdownButton" onclick="openDropdown()">
    Dropdown <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdownOptions" id="dropdownOptions">
    <ul>
      <li>
        <input type="button" value="A" onclick="createItens(this.value)" />
      </li>
      <li>
        <input type="button" value="B" onclick="createItens(this.value)" />
      </li>
    </ul>
  </div>
</session>
