<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/_head', {title: "Teste Pedro Pires"}) %>

  <body>
    <main>
      <%- include('./includes/_menu') %> <%- include('./includes/_sidebar') %>
      <%- include('./includes/_content') %>
    </main>
    <script src="./assets/js.js"></script>
  </body>
</html>
